$debug: 0;
$minuteSetterFontColor: white;
$minuteSetterButtonColor: white;
$bodyColor: #ffffff;
$pomodoroColor: #eeeeee;

@mixin showBorder($color) {
  @if $debug == 1 {
    border: 1px solid $color;
  }
}

body {
  background-color: $bodyColor;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

#pomodoro {
  @include showBorder(black);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  background-color: $pomodoroColor;
}

.timerControls {
  @include showBorder(green);
  display: flex;
  flex-direction: row;
  text-align: center;
}

.minuteSetter {
  @include showBorder(blue);
  display: flex;
  flex-direction: column;
  width: 180px;
  background-color: #e34848;
  flex: 0 0 49%;
  color: $minuteSetterFontColor;
}

#start_stop {
  background-color: #af0b0b;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  padding: 16px 76px;
  &:hover {
    background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color: #e4685d;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
.minuteDisplay {
  font-size: 2rem;
  text-align: center;
  color: $minuteSetterFontColor;
}

.minuteSetterButtons {
  display: flex;
  flex-direction: row;
  button {
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: $minuteSetterButtonColor;
    border: none;
    &:first-child {
      border-right: 1px solid black;
    }
  }
}

#activityPanel {
  display: flex;
  flex-direction: column;
}

#activityControls {
  display: flex;
  justify-content: space-evenly;
}
