$debug: 0;
$minuteSetterFontColor: white;
$minuteSetterButtonColor: white;
$bodyColor: #f9f9f9;
$pomodoroColor: #f9f9f9;

@mixin showBorder($color) {
  @if $debug == 1 {
    border: 1px solid $color;
  }
}

body {
  background-color: $bodyColor;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

#pomodoro {
  @include showBorder(black);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  background-color: $pomodoroColor;
  margin-left: 400px;
  border: 1px solid #eeeeee;
  box-shadow: 2px 2px 4px rgba(163, 177, 198, 0.6), -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.timerControls {
  @include showBorder(green);
  display: flex;
  flex-direction: row;
  text-align: center;
}

.minuteSetter {
  @include showBorder(blue);
  display: flex;
  flex-direction: column;
  background-color: rgb(115, 177, 115);
  flex: 0 0 50%;
  color: $minuteSetterFontColor;
}

#start_stop {
  background-color: #c93c3c;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 16px 76px;
  &:hover {
    background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color: #e4685d;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  margin-top: 8px;
}

#head {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  align-items: center;
}
#reset {
  background-color: #c93c3c;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  height: 36px;
  font-weight: bold;
  padding: 4px 16px;
  &:hover {
    background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color: #e4685d;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.minuteDisplay {
  font-size: 1.2rem;
  text-align: center;
  color: $minuteSetterFontColor;
}
#time-left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: white;
  width: 140px;
  color: white;
  font-weight: bold;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 6px 6px 8px rgba(163, 177, 198, 0.6), -6px -6px 8px rgba(255, 255, 255, 0.5);
  background: radial-gradient(circle at 50% 50%, #d60505b6, #000);
  border: 5px solid gray;
}
#timerHolder {
  display: flex;
  justify-content: center;
}
.minuteSetterButtons {
  display: flex;
  flex-direction: row;
  &:first-child {
    border-right: 1px solid black;
  }
  button {
    width: 100%;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: $minuteSetterButtonColor;
    border: none;
    &:first-child {
      border-right: 1px solid black;
    }
  }
}

#activityPanel {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#activityControls {
  display: flex;
  justify-content: space-evenly;
}

#activityLog {
  margin-top: 10px;
}
